
<section class="contact">
	<div class="layout">
        <div class="text-center">
          <h1 class="section-title">Contact Us</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed accumsan venenatis lectus sed sollicitudin. Duis in odio ex. Sed elementum varius enim. In vel tincidunt lorem. Donec gravida felis vitae ipsum pharetra maximus.</p>
        </div>
        <div class="grid-8 form">
          <form >
            <div class="form-inline clearfix">
              <div class="form-group grid-6 ">
                <input type="text" placeholder="name" id="exampleInputName" class="form-control">
              </div>
              <div class="form-group grid-6">
                <input type="text" placeholder="email address" id="exampleInputEmail" class="form-control">
              </div>
              <div class="form-group grid-6">
                <input type="text" placeholder="subject" id="exampleInputSubject" class="form-control">
              </div>
              <div class="form-group grid-6">
                <input type="text" placeholder="company" id="exampleInputCompany" class="form-control">
              </div>
              <div class="form-group grid-12">
                <textarea placeholder="message" id="exampleInputMessage" rows="3" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group grid-12">
              <button class="btn  btn-lg costom-btn">Send</button>
            </div>
          </form>
        </div>
	</div>
</section>
