<div class="container">
  <form>
    <div class="headingsContainer">
        <h3>Sign in</h3>
        <p>Sign in with your E-mail and password</p>
    </div>

    <div class="mainContainer">
        <label for="email">E-mail</label>
        <input type="text" [(ngModel)]="userData.email" name="email" [ngModelOptions]="{standalone: true}" placeholder="E-mail" required>
        <br><br>

        <label for="pswrd">Password</label>
        <input type="password" [(ngModel)]="userData.password" name="password" [ngModelOptions]="{standalone: true}" placeholder="Password" required>

        <div class="subcontainer">
            <label>
              <input type="checkbox" checked="checked"> Remember me
            </label>
            <p class="forgotpsd"> <a>Forgot Password?</a></p>
        </div>

        <button type="submit" (click)="login()">Login</button>

        <p class="register">Not a member?  <a routerLink="/register">Register here!</a></p>

    </div>

</form>
</div>
