<div class="container">
  <form>
    <div class="headingsContainer">
        <h3>Register</h3>
        <p>Sign up with your E-mail and password</p>
    </div>

    <div class="mainContainer">
        <label for="email" >E-mail</label>
        <input type="text"  [(ngModel)]="useRegisterData.email" name="email" placeholder="E-mail" required>
        <br><br>

        <label for="pswrd">Password</label>
        <input type="password" [(ngModel)]="useRegisterData.password" name="password" placeholder="Password" required >

        <label for="pswrd">Confirm Password</label>
        <input type="password" [(ngModel)]="useRegisterData.password" name="password" placeholder="Password" required>

        <button type="submit" (click)="register()">Register</button>

        <p class="register">Already a member?  <a routerLink="/">Login here!</a></p>

    </div>

</form>
</div>
